{% extends 'layout.html' %}
{% load static %}
{% block title %} Media Library {% endblock %}
{% block content %}
    <div class="row my-5 text-center">
        <h1>Hello</h1>
    </div>
    <div class="containter text-center mx-10 mt-10">
        {% if not request.user.is_authenticated %}
        <div class="row">
            <div class="col">
                <a class='btn btn-outline-secondary btn-lg p-1' href="{% url 'login' %}">Log In</a>
            </div>
            <div class="col">
                <a class='btn btn-outline-secondary btn-lg p-1' href="{% url 'register' %}">Register</a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <a class='btn btn-outline-secondary btn-lg p-1' href="/profile/{{ request.user.username }}">Go to my Profile</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
