{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class='container py-5 my-3 px-3 bg-light d-block'>
    {% if request.user.is_authenticated %}
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' user.username %}">Login</a>
    {% endif %}
    </div>
{% endblock %}
